<!DOCTYPE html>
<html ng-app="codeSearch">

<head>
  <title>Mercurial Code Search</title>

  <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
  <link rel='stylesheet' href='/stylesheets/angular-toggle-switch.css' />
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/styles/vs.css' />

  <script src="/javascripts/angular.min.js"></script>
  <script src="/javascripts/angular-sanitize.min.js"></script>
  <script src="/javascripts/ui-bootstrap.min.js"></script>
  <script src="/javascripts/angular-highlightjs.min.js"></script>
  <script src="/javascripts/angular-toggle-switch.min.js"></script>
  <script src="/javascripts/highlight.pack.js"></script>
  <script src="/javascripts/app.js"></script>

  <%- include partials/query-syntax-modal.ejs %>
  
</head>

<body ng-controller="CodeSearchController" class="bg-default">

  <div class="container">

    <div class="row">

      <div class="col-md-12">

        <div class="panel panel-primary">

          <div class="panel-heading">
            <h3 class="panel-title">
              Search Options
            </h3>
          </div>

          <tabset justified="true">
            <%- include partials/changesets-tab.ejs %>
            <%- include partials/contents-tab.ejs %>
          </tabset>

        </div>

      </div>

    </div>

    <div class="row">

      <div class="col-md-12">

        <div class="panel panel-primary">

          <div class="panel-heading">
            <h3 class="panel-title">
              Search Results
              <span ng-show="searchResults.totalResults > 0">
                (showing {{searchResults.returnedResults}} of {{searchResults.totalResults}} matches)
              </span>
              <span ng-show="searchResults.totalResults === 0">
                (0 matches)
              </span>
            </h3>
          </div>

          &nbsp;

          <%- include partials/changesets-results.ejs %>
          <%- include partials/contents-results.ejs %>

        </div>

      </div>

    </div>

  </div>

</body>

</html>